doctype html
html(lang='en')

head
    include includes/head_data.html
    title Sheet Music Data Import

include includes/signout_header.html

body(class="text-dark bg-white")
    form(action="/import" method="POST" class="form-container" enctype="multipart/form-data")
        div(class="text-center")
            h1 Import Data
            br
            br
            br
            br
            br
            br
                
        div(class="text-center")
            label(for='Data') Upload your data (preferably dumped from the database)
            input#Sheets.form-control(type='file' name='Data' accept='.json')
            button.btn.btn-primary(type='submit') Submit
        

include includes/footer.html