doctype html
html(lang='en')

head
    include includes/head_data.html
    title Sheet Music Data Import

include includes/signout_header.html

body(class="text-dark bg-white")
    form(action="/import" method="POST" class="form-container" enctype="multipart/form-data")
        div(class="text-center")
            h1 Import Data
            br
            br
            br
            br
            br
            br
                
        div(class="text-center")
            label(for='Meta') Paste your JSON
            input#Meta.form-control(type='text' name='Meta')
            label(for='Sheets') Upload your sheets (filenames included in JSON)
            input#Sheets.form-control(type='file' name='Sheets' accept='.pdf' multiple)
            button.btn.btn-primary(type='submit') Submit
        

include includes/footer.html