doctype html
head
  include includes/head_data.html
  title Post Your Piece

include includes/signout_header.html



form.form-container(action='/postPiece' method='POST' enctype='multipart/form-data')
  .text-center
    h1 Post Your Piece
    br
  .form-group
    label(for='Title') Title
    input#usernameInput.form-control(type='text' name='Title' aria-describedby='Title' placeholder='Piece title')
  .form-group
    label(for='Copyright') Copyright
    input#Copyright.form-control(type='Copyright' name='Copyright' aria-describedby='Copyright' placeholder='Copyright')
  .form-group
    label(for='Publisher') Publisher
    input#Publisher.form-control(type='Publisher' name='Publisher' aria-describedby='Publisher' placeholder='Piece publisher')
  .form-group
    input(type='checkbox' name='isPaid' value='isPaid' is='isPaid')
    label(for='isPaid') Paid?
  .text-center
    label(for='Sheet') Upload your PDF
    input#Sheet.form-control(type='file' name='Sheet' accept='.pdf')
    br
    label(for='Tags') Select tag(s) that match your piece
    for tag in tags
        div
            input(type='checkbox' name='tag-'+tag.Name)
            span= tag.Name
    br
    br
  .text-center
    button.btn.btn-primary(type='submit') Submit
  br
  
include includes/footer.html