doctype html
head
  include includes/head_data.html
  title Post Your Review

include includes/signout_header.html



form.form-container(action='/postReview?id='+pieceData.PieceID method='POST')
  .text-center
    h1 Post Your Review
    br
  .form-group
  input.form-control(hidden='hidden' name='pieceID' id='pieceID')
  label(for='title') Piece Title
  br
  label= pieceData.Title
  br
  br
  label(for='stars') Select Stars
  br
  input#customRange3.custom-range(type='range' min='1' max='5' step='1' name='stars')
  br
  br
  .form-group
    label(for='text') Enter Your Review Here
    textarea#exampleFormControlTextarea1.form-control(rows='6'  name='text')

    br
    br
    br
  .text-center
    button.btn.btn-primary(type='submit') Submit
  br
  
include includes/footer.html