doctype html
html(lang='en')
head
    include includes/head_data.html
    title Search Results

include includes/signout_header.html

body(class="text-dark bg-white")
    div.container
        h1.text-center Search Results
        |
        |
        br
        br
        div(class="col-8 offset-2")
            include includes/searchbar.pug
        ul#search-results
            each val in results
                div
                    span
                        if val.IsPaid
                            a(href="/paidPiece?id="+val.PieceID)= val.Title + (val.ComposerName ? " by " + val.ComposerName : "")
                        else
                            a(href="/piece?id="+val.PieceID)= val.Title + (val.ComposerName ? " by " + val.ComposerName : "")
            else
                li No results found.
        
include includes/footer.html