doctype html
html(lang='en')

head
    include includes/head_data.html
    title Sheet Music User Profile

include includes/signout_header.html

body(class="text-dark bg-white")
    div(class="text-center")
        h1= "Welcome, " + user
        br
        br
        br
        br

        div(class="col-5 user-profile-cards")
                    .card
                        .card-body
                            h5.card-title You have reviewed these pieces...
                            p.card-text
                            each val in reviewedPieces
                                div.review-box
                                    a.card-link(href='/piece?id='+val.PieceID)= val.Title
                            else
                                div You haven't reviewed any pieces.
                                br
                                br
        
        div(class="col-5 user-profile-cards")
                    .card
                        .card-body
                            h5.card-title You have written these pieces...
                            p.card-text
                            each val in writtenPieces
                                div.review-box
                                    a.card-link(href='/piece?id='+val.PieceID)= val.Title
                            else
                                div You haven't written any pieces.
                                br
                                br
            
    
        

//include includes/footer.html