.form-container {
    width: 360px;
    margin: auto;
}

.failed-login {
    background-color: lightcoral;
    font-weight: bold;
}

html{
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
@media (min-width: 760px){
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 58px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 58px;
    line-height: 41px;
}

.videos {
    margin-top: 80px;

}

#trend {
    margin-right: 300px;
}
@media (min-width: 992px){
    #trend {
        margin-right: 730px;
    }
}

.footer-relative {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 58px;
    line-height: 41px;
}

#list {
    margin-left: 90px;
}

#list li {
    margin: 15px;
}